.headerbox {
  text-align: center;

  .headerbox__image {
    width: 128px;
  }
}

.detail {
  .detail__title {
    background-color: $darkred-papa;
    color: white;
    font-size: 29px;
    font-family: $papafont;
    text-transform: uppercase;

    .detail__image {
      height: 40px;
      width: 40px;
    }
  }

  .detail__delivery {
    color: $green-papa;
    font-weight: 500;
  }
}

.detail__total {
  font-size: 20px;
  color: $green-papa;
  font-weight: 600;
  text-align: right;
  
}
